<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }}</h2>
    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name"><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li></ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://github.com/{{ site.github_username }}"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">{{ site.github_username }}</span></a></li>
          <li><a href="https://linkedin.com/in/{{ site.linkedin_username }}"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg> <span class="username">LinkedIn</span></a></li>
          <li><a href="https://researchgate.net/profile/{{ site.researchgate_username }}"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#researchgate"></use></svg> <span class="username">ResearchGate</span></a></li>
		</ul>
      </div>

    </div>
  </div>
</footer>
