// Variables for fonts and width
$content-width: 800px;
$font-style: 'Open Sans', sans-serif;
$heading-font: 'Muli', sans-serif;
// Color variables for theme
$color-night: #0D0910;
$color-eerie-black: #262626;
$color-anti-flash-white: #ECECEC;
$color-taupe-gray: #908899;

