// Light mode color variables
html, html[data-theme="light"] {
	// Text
	--text-color: #262626;
	--link-color: #262626;
	--link-hover-color: #262626;
	// Background
	--main-color: #ECECEC;
	--highlight-color: #0D0910;
	--header-color: #908899;
}
// Dark mode color variables
html[data-theme="dark"] {
	// Text
	--text-color: #ECECEC;
	--link-color: #ECECEC;
	--link-hover-color: #ECECEC;
	// Background
	--main-color: #0D0910;
	--highlight-color: #262626;
	--header-color: #908899;
}
// Browser indicates dark mode is preferred
@media (prefers-color-scheme: dark) {
	// Dark mode color variables
	html, html[data-theme="dark"] {
		// Text
		--text-color: #ECECEC;
		--link-color: #ECECEC;
		--link-hover-color: #ECECEC;
		// Background
		--main-color: #0D0910;
		--highlight-color: #262626;
		--header-color: #908899;
	}
	// Light mode color variables
	html[data-theme="light"] {
		// Text
		--text-color: #262626;
		--link-color: #262626;
		--link-hover-color: #262626;
		// Background
		--main-color: #ECECEC;
		--highlight-color: #0D0910;
		--header-color: #908899;
	}
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--text-color);
  background: var(--main-color);
  font-family: $font-style;
  font-size: 1.1em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3 {
  font-weight: 600;
  color: var(--text-color);
  font-family: $heading-font;
  line-height: 1.5;
}
h1 {
  color: var(--text-color);
  font-size: 2.5em;
  a,
  a:visited {
    text-decoration: none;
	color: var(--link-color);
  }
}
h2 {
  font-size: 2em;
}
a, a:visited {
  color: var(--link-color);
  text-decoration: underline;
  font-weight: bold;
}
a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
time {
  color: var(--text-color);
}
img.centered_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
div.pub_key_image_div {
  float: left;
  height: 200px;
  padding-right: 10px;
}

.container {
  max-width: $content-width;
  margin: 0 auto;
}
.more {
  display: none;
}
.abstract_text {
  font-size: small;
}

/* CSS Haxx */
input[type="checkbox"].checkhax {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 20px;
  opacity: 0;
}
label.labelhax {
  cursor: pointer;
  position: relative;
  display: block;
  text-decoration: underline;
}
label.labelhax::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  top: 50%;
  left: 10px;
  margin-top: -8px;
}
input[type="checkbox"].checkhax:checked ~ label::before {
  margin-left: -4px;
  margin-top: -4px;
}
video.videohax {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease;
}
input[type="checkbox"].checkhax:checked ~ video {
  max-height: 100%;
}
.mdborderedtable {
  border-collapse: collapse;
  > table, td, th {
    border: 1px solid black;
	padding: 5px;
  }
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--main-color);
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid var(--highlight-color);
  box-shadow: 0px 1px 1px RGBA(4,25,54,0.1);
  nav {
    float: left;
	max-width: $content-width;
	margin: 0 auto;
	ul {
	  margin: 0;
	  padding: 0;
	  list-style: none;
	  li {
	    float: left;
		position: relative;
		a {
		  text-decoration: none;
		  display: block;
		  padding: 15px;
		  font-family: 'Muli', sans-serif;
		  line-height: 20px;
		  margin-bottom: -1px;
		  &:hover,
		  *:active {
		    background: var(--header-color);
			text-decoration: none;
			color: var(--main-color);
		  }
		}
	  }
	}
	&:after {
	   content: '';
	   display: table;
	   clear: both;
	}
  }
}
header {
  background: var(--header-color);
  // padding: 0px 15px;
  text-align: center;
  margin-top: 20px;
  // height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  padding: 0 15px;
  max-width: $content-width;
  margin: 0 auto;
}
footer {
  background: var(--header-color);
  text-align: center;
  border-top: 1px;
  padding: 40px 0 100px;
  .wrapper {
    max-width: calc( $content-width - (30px*2));
	margin-right: auto;
	margin-left: auto;
	padding-right: 30px;
	padding-left: 30px;
  }
  .footer-heading {
    // font-size: 10px;
	margin-bottom: 15px;
  }
  .footer-col-wrapper {
    font-size: 15px;
	margin-left: -15px;
  }
  .footer-col {
    float: left;
	margin-bottom: 15px;
	padding-left: 15px;
  }
  .footer-col-1 {
    width: calc(35%-(30px/2));
  }
  .footer-col-2 {
  	width: calc(20% - (30px/2));
  }
  .svg-icon {
    width: 16px;
	height: 16px;
	display: inline-block;
	// padding-right: 5px;
	vertical-align: text-top;
  }
}

